.square {
	height: 62.25px;
	width: 12.5%;
	border: 1px solid #fff;

	&.playable {
		background-color: #ccc;
	}
	&.notplayable {
		background-color: #999;
	}
	&.highlight {
		background-color: yellow;
		border: 1px solid yellow;
	}
	&.jump {
		background-color: orange;
	}
	&.moveto {
		background-color: blue;
	}
}

@media only screen and (max-width: 768px) {
	.square {
			height: 37.25px;
	}
}
