<div
class="square d-flex float-left"
[class.playable]="square.playable"
[class.notplayable]="!square.playable"
[class.jump]="square.jump"
[class.moveTo]="square.moveTo"
[class.highlight]="square.highlight"
title = "{{square.moveTo && square.jump ? 'Move to square and take piece' : square.moveTo ? 'Move to square' : ''}}">
	<app-piece *ngIf="square.piece"
	 	(click)="clickAPiece.emit(square.piece)"
    style="width: 100%; height: 100%"
    class="d-flex align-items-center justify-content-center"
    [piece]="square.piece">
	</app-piece>
	<div *ngIf="square.playable && !square.piece"
	 style="width: 100%; height: 100%"
	  (click)="clickEmptySpace.emit(square)">
	</div>
</div>
