<div class="container d-flex justify-content-center">
  <div class="outer">
    <div class="row">
      <div class="col-md-12">
        <div app-game-status></div>

        <div app-game-board></div>
      </div>
    </div>
  </div>
</div>
