.red {
  color: red;
}

.redbg {
  background-color:  red;
}
.blackbg {
  background-color:  black;
}
.redbg,
.blackbg {
  h4 {
    color:white;
  }
}

.btn {
  background-color:white;
  cursor: pointer;
}
