
<div class="row pt-3 pb-1">
  <div class="col-md-6">
    <div class="card  red">
      <div class="card-body p-2">
        <h4 class="card-title mb-1">Red</h4>
        <div class="card-text">Games won: {{service.redWincount}}</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-right">
      <div class="card-body p-2">
        <h4 class="card-title mb-1">Black</h4>
          <p class="card-text">Games won: {{service.blackWincount}}</p>
        </div>
    </div>
  </div>
</div>
  <div class="row pt-1 pb-2">
    <div class="col-md-12">
      <div class="card"
      [class.blackbg]="!service.redTurn"
      [class.redbg]="service.redTurn">
      <div class="card-body p-2 d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-1">
          <span *ngIf="service.redTurn">Red</span>
          <span *ngIf="!service.redTurn">Black</span>
          <span *ngIf="service.gameOver"> wins!!</span>
          <span *ngIf="!service.gameOver">'s turn.</span>
        </h4>
        <button class="btn" title="Reset game" (click)="resetGame(true)">Reset game</button>
      </div>
    </div>
  </div>
</div>
