.piece {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  cursor: pointer;
  .king {
    font-size: 1.8em;
    color:white;
  }

  &.black {
    background-color: black;
  }

  &.red {
    background-color: red;
    .king {
      color:black;
    }
  }

}
