<div class="row">
  <div class="col-md-6">
    <div class="board">
      <div *ngFor="let row of board" >
        <app-square
          *ngFor="let square of row"
          (clickAPiece)="onClickAPiece($event)"
          (clickEmptySpace)="onClickEmptySquare($event)"
          [square]="square">
        </app-square>
      </div>
    </div>
  </div>
</div>
